<div class="container">
  <div class="dog-profile-card">
    <h1><%= dog.name %></h1>
    <h3><%= dog.city %></h3>
    <span class="dog-profile-span"><%= dog.breed %></span><br>
    <span class="dog-profile-span"><%= dog.age %> years old </span><br>
    <span class="dog-profile-span"><%= dog.bio %></span><br>
    <span class="dog-profile-span"><%= display_dog_rating(dog) %></span><br>
  </div>
  <br><br>
  <div class="dog-pettings-info">
    <% pettings.each do |petting| %>
      <div class="petting-card">
        <span class="petting-info-span petting-description-link"><%= link_to petting.description, petting_path(petting) %></span><br>
        <span class="petting-info-span">Pet by <%= petting.user.full_name %></span><br>
        <span class="petting-info-span"><%= petting_rating_display(petting) %> </span><br>
        <span class="petting-info-span"><%= petting.location %></span>
      </div>
      <br>
    <% end %>
  </div>
</div>
