<div class="container">
  <div class="dog-profile-card">
    <h1><%= dog.name %></h1>
    <h4><%= dog.city %></h4>
    <span class="dog-profile-span"><%= dog.breed %></span><br>
    <span class="dog-profile-span"><%= dog.age %> years old </span><br>
    <span class="dog-profile-span"><%= dog.bio %></span><br>
    <span class="dog-profile-span"><%= dog_show_rating_display.call(dog.user_rating) %></span><br>
  </div>

  <h3><%= dog.name %>'s Pats</h3>

  <div class="dog-pettings-info">
    <% @pettings.each do |petting| %>
      <%= display_petting_cards(petting, dog_pet_by_user_display, dog_show_rating_display) %>
    <% end %>
  </div>

</div>
