<h1>SignUp</h1>

<%= form_for(@user, url: signup_path) do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>
  <%= f.label :username %>
  <%= f.text_field :username, required: true %>
  <br>
  <%= f.label :email %>
  <%= f.email_field :email, required: true %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password, required: true %>
  <br><br>
  <%= f.submit "SignUp" %>
<% end %>
