<h1><%= @petting.description %></h1>
<h3><%= petting_index_rating_display.call(@petting.pet_rating) %></h3>

<ul>
  <li>Human: <%= link_to @petting.user.full_name, user_path(@petting.user) %></li>
  <li>Dog: <%= petting_show_display_dog_name(@petting) %> </li>
  <li>Breed: <%= @petting.breed %></li>
  <li>Location: <%= @petting.location %></li>
</ul>


<%= edit_delete_options(@petting, @current_user) %>
