<h1><%= @petting.description %></h1>
<h3><%= petting_rating_display(@petting)%></h3>

<ul>
  <li>Human: <%= @petting.user.full_name %></li>
  <li>Dog: <%= @petting.name %> </li>
  <li>Breed: <%= @petting.breed %></li>
  <li>Location: <%= @petting.location %></li>
</ul>

<!--
<%= edit_delete_options %>
-->
<% if @petting.user == @current_user %>
  <%= link_to "Edit", edit_petting_path(@petting) %>
  <%= link_to "Delete", @petting, method: :delete, data: { confirm: "Are you sure you want to delete this record?" } %>
<% end %>
