<!DOCTYPE html>
<html>
  <head>
    <title>Pettr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "SignUp", signup_path %>
    <%= link_to "LogIn", login_path %>
    <%= link_to "LogOut", logout_path, method: :delete %>
    <%= yield %>
  </body>
</html>
