<!DOCTYPE html>
<html>
  <head>
    <title>Pettr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield :fb_sdk %>
    <%= link_to "Home", root_path %>
    <%= set_navbar_options(@current_user) %>
    <%= display_flash_notices %>
    <%= yield %>
  </body>
</html>
