<!DOCTYPE html>
<html>
  <head>
    <title>Pettr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <navbar>
      <div class="clearfix">
        <ul id='navbar'>
          <li id='homepage-link'><%= link_to "Pettr", root_url %></li>
          <%= set_navbar_options(@current_user) %>
        <ul>
      </div>
    </navbar>
    <%= display_flash_notices %>
    <%= yield %>
  </body>
</html>
